<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAtmCashService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55846/AtmCashService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAtmCashService"
        contract="AtmCashService.IAtmCashService" name="BasicHttpBinding_IAtmCashService" />
    </client>
  </system.serviceModel>
</configuration>

